

.square {
  background: #34CCEB;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}
.square:hover{
  background-color: aqua;
}
.row:after {
  clear: both;
  content: '';
  display: table;
}


